
@{
    ViewBag.Title = "Index";
}

<h2>Caio Victor Lucas Cordeiro</h2>

<h3>Teste Prático:</h3>

Caso de uso:  "Lista/Salvar/Editar/Excluir um cliente";<br/>
Características:<br />

<ul>
    <li>Construir um CRUD de Cliente com Nome, Telefone, Endereço, Id;</li>
    <li>Validação de obrigatoriedade do Nome do cliente;</li>
    <li>Utilizar como backend Webservice (WCF, WebAPI/REST) para persistir os dados do Cliente;</li>
    <li>Utilizar banco de dados SQL Server (ou Express, ou SQLite), utilizando NHibernate como framework de ORM de preferência;</li>
    <li>Utilizar um container de injeção de dependências (Castle [preferencialmente], Ninject, Spring,...);</li>
    <li>A View deve utilizar Asp.Mvc;</li>
    <li>Utilizar javascript para o CRUD (use a api de sua escolha, usar typescript é um bônus)</li>
    <li>O código deverá ser disponibilizado no github como público e enviado o link para nossa análise;</li>
</ul>

*O uso do T.D.D. é visto como característica essencial a este teste.

